@media screen and (min-device-width:320px) and (max-device-width:400px){
	.js #main-menu-label{
		display:none;
		}					
	.js .slicknav_menu {
		display:block;
		}
		#slicknav_menu{
			display:block;
			}
	html, body {
	    font: 0.9em/1.4 Arial,Helvetica,sans-serif;
		}
		.container{
			position:inherit;
		    width:320px;
			}
			nav#top-nav-bar{
			    padding:0 1em;
    			width:91.8%;
				}
				nav#top-nav-bar UL LI A{
					padding:0.5em 1.75em 0.5em 3.8em;
					}
				nav#top-nav-bar ul li.account,
				nav#top-nav-bar ul li#link-to-login{
					float:right;
					margin:0 0 0 0.8em;
					}
					nav#top-nav-bar UL LI.account A{
					    background:#19b894 url("/assets/account-icon.png") no-repeat 1.5em 50%;
					    font-size:0.9em;
    					min-width:6.6em;
						}
						nav#top-nav-bar UL LI.account A:hover{
						    background:#19b894 url("/assets/account-iconHover.png") no-repeat 1.5em 50%;
							}
					nav#top-nav-bar UL LI.logIn A{
					    background:#19b894 url("/assets/login-icon.png") no-repeat 1.5em 50%;
						}
						nav#top-nav-bar UL LI.logIn A:hover{
						    background:#191919 url("/assets/login-iconHover.png") no-repeat 1.5em 50%;
							}
				nav#top-nav-bar UL LI#search-bar{
				    margin:0.5em 0;
				    max-width:100%;
				    width:100%;
					}
					nav#top-nav-bar UL LI#search-bar FORM{
					    text-align:center;
						}
						nav#top-nav-bar UL LI#search-bar INPUT,
						nav#top-nav-bar UL LI#search-bar INPUT[type="submit"]{
						    float:none;
							}
						nav#top-nav-bar UL LI#search-bar INPUT[type="submit"]{
						    padding:1.2em 1.15em!important;
							}
			#link-to-cart{
			    margin:0 0 0 1.3em;
			    position:absolute;
			    right:0.6em;
			    top:12em;
			    width:40%;
				}
				#link-to-cart A{
					color:#19b794;
					padding:1.9em 0 1.1em 5.5em;
					}
			#header .phone{
				margin:0.5em 0 0 1.8em;
			    position:absolute;
			    right:0;
			    top:0;
			    width:46%;
			    z-index:999;
				}
				#header .phone IMG{
					max-width:1.4em;
					}
				#header .phone .inside A{
					font-size:1.2em;
					}
		#main-menu FIGURE{
    		padding:0.95em 0 0.95em 1em;
			}
			#main-menu FIGURE A IMG{
				max-width:12em;
				}
}