@media screen and (min-device-width:320px) and (max-device-width:400px){
	.js #main-menu-label{
		display:none;
		}					
	.js .slicknav_menu {
		display:block;
		}
		#slicknav_menu{
			display:block;
			}
	html, body {
	    font: 0.9em/1.4 Arial,Helvetica,sans-serif;
		}
		.container{
			position:inherit;
		    width:320px;
			}
			nav#top-nav-bar{
			    width:100%;
				}
				nav#top-nav-bar UL LI A{
					padding:0.5em 1.75em 0.5em 3.8em;
					}
}