<footer id="footer" class="sixteen columns" data-hook>
	<div class="container">
		<div class="main-footer">

			<div id="footer-left" class="columns omega eight" data-hook>
				
			</div>

			<div id="footer-middle" class="columns omega eight" data-hook>
				<h3>Contact</h3>
				<ul>
   
                  <li>
                     <i class="fa fa-building">&nbsp;</i>
                     <span>Premier Business Centre, 3013 Lake Drive Citywest Business Campus, Dublin 24</span>
                  </li>
   
                  <li>
                     <i class="fa fa-mobile">&nbsp;</i>
                     <span>
                     		<a href="tel:0035314361847">+353 1 4361847</a>
                     </span>
                  </li>
   
                  <li>
                     <i class="fa fa-at">&nbsp;</i>
                     <span>
                        <a href="mailto:info@supportsolutions.ie">info@supportsolutions.ie</a>
                     </span>
                  </li>

               </ul>
			</div>

			<div id="footer-right" class="columns omega eight" data-hook>
				<h3>Newsletter</h3>
				<form id="contact_newsletter" class="form-horizontal"><fieldset id="fieldFormBrochure">						
						<div> 
							<label for="email">Email</label>
							<input id="email-newsletter" name="email-newsletter" type="email" value="" placeholder="Enter your e-mail..." required="">
						</div>
							 
						<div class="button">
							<input id="submit" type="submit" value="">
						</div>
					</fieldset>
				</form>

				<div class="social">
					<a href="https://www.facebook.com/office.products.software" target="_blank">
						<img src="/assets/icon-facebook.png" onmouseout="this.src='/assets/facebook-icon.png'" onmouseover="this.src='/assets/facebook-iconHover.png'" alt="Facebook Icon">
					</a>
					
					<a href="https://twitter.com/Suptsolution" target="_blank">
						<img src="/assets/icon-twitter.png" onmouseout="this.src='/assets/twitter-icon.png'" onmouseover="this.src='/assets/twitter-iconHover.png'" alt="Twitter Icon">
					</a>
					
					<a href="https://www.linkedin.com/company/support-solutions" target="_blank">
						<img src="/assets/icon-linkedin.png" onmouseout="this.src='/assets/linkedin-icon.png'" onmouseover="this.src='/assets/linkedin-iconHover.png'" alt="LinkedIn Icon">
					</a>
				</div>
			</div>

			<div id="footer-bottom" data-hook>
				<p><%= Spree.t :powered_by  %> <%= link_to ' 39Bots', 'http://google.com/' %></p>
			</div>

		</div><!--.main-footer-->
	</div>
</footer>
