<footer id="footer" class="sixteen columns" data-hook>
	<div class="container">
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= Spree.t :powered_by  %> <%= link_to ' 39Bots', 'http://google.com/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
  	<!--<li><a href="/additional_pages/terms">terms &amp; conditions</a></li>
  	<li><a href="/additional_pages/contact">contact</a></li>
    <li><a href="/additional_pages/about">about</a></li>-->
  </div>
</div>
</footer>
