<header id="header" class="row" data-hook>

	<div class="container">
	  		<%= render :partial => 'spree/shared/nav_bar' %>
			
			<div id="link-to-cart" data-hook>
			  <noscript>
				<%= link_to Spree.t(:cart), '/cart' %>
			  </noscript>
			  &nbsp;
			</div>
    
			<script>Spree.fetch_cart()</script>
	</div><!--container-->

	<div id="main-menu">
		<div class="container">
				<figure id="logo" class="columns six" data-hook><%= logo %></figure>
				<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
		</div><!--container-->
	</div><!--main-menu-->

</header>
