<nav class="columns sixteen">

  <ul id="main-nav-bar" class="inline" data-hook>

    <!--<li><a href="/additional_pages/home">home</a></li>-->

    
      <li id="home-link" data-hook><%= link_to Spree.t(:store), spree.products_path %></li>
      <!--<li><a href="/additional_pages/consumables">ink &amp; toner</a></li>-->
    
      <li><%= link_to "create account", new_spree_user_registration_path %></li>
    

    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    
    <script>Spree.fetch_cart()</script>
  </ul>

</nav>
